@page "/UserData"
@using KlalorieOnline.Models.Dtos
@using ProjektINZ.Pages
@inherits UserDataAddBase


@if (userDataDtos != null)
{

<div>

     <table class="table">
  <thead>
    <tr>
      
      <th scope="col">Date</th>
      <th scope="col">Weight</th>
      <th scope="col">Goal</th>
      
    </tr>
  </thead>
  <tbody>
      @foreach (var item in userDataDtos)
      {
          <tr>
              
              <td>@item.CreatedDate.Date.ToString("dd-MM-yyyy")</td>
              <td>@item.Weight</td>
              <td>@item.Goal</td>
              
              
          </tr>
      }
   
    
   
  </tbody>
</table>

 </div>

  <div class="row">
 <p class="mb-4">
              <div>
                <button class="btn btn-success"
                @onclick ="() => (AddData())"



                
                ><b>Add new data</b></button>
            </div>
            </p>
 </div>
}