@page "/Login"

@inject ILocalStorageService localStorage
@inject NavigationManager navMenager
@inject AuthenticationStateProvider AuthStateProvider
@using Microsoft.AspNetCore.Components.Authorization
@inject IUserService UserService
@using ProjektINZ.Services.Contracts
@using ProjektINZ.ViewModels

<h3>Loggin</h3>

<EditForm Model="userModel" OnSubmit="HandleLogin">

    <div class="form-group">
        <label for="UserName" >
            User Name
        </label>
        <div class="col-sm-10">
            <InputText id="UserName" class="form-control" placeholder="UserName"
                       @bind-Value="userModel.Name" />
        </div>

         
    </div>

    <div class="form-group">
        <label for="UserPassword" >
            UserPassword
        </label>
        
            <InputText id="UserPassword" class="form-control" placeholder="UserPassword"
                       @bind-Value="userModel.Password" />
        

         
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

    <label for="ErrorMesage" >
            @ErrorMesage
        </label>

</EditForm>

@code {



    private UserModel userModel = new UserModel();
    public string ErrorMesage { get; set; }

    public string alertMessage { get; set; }

    public NavigationManager NavigationManager { get; set; }

    private async void HandleLogin()
    {
        var userDataDto = await UserService.GetUser(userModel.Name);

        if (userDataDto != null)
        {
            if(userModel.Password==userDataDto.UserPassword)

            {
                await localStorage.SetItemAsync<string>("username",userDataDto.UserName);
                await localStorage.SetItemAsync<int>("userID", userDataDto.Id);
                await AuthStateProvider.GetAuthenticationStateAsync();
                navMenager.NavigateTo("/");
            }
            else
            {
                ErrorMesage = "wrong password or username";
                OnInitializedAsync();
                
            }
            OnInitializedAsync();

                }
                else
                {
                    OnInitializedAsync();
                }
        //
        Console.WriteLine("Loged me in");
        
       
    }

    protected override Task OnInitializedAsync()
    {
        userModel = new UserModel();
        return base.OnInitializedAsync();

    }

   
    


    }
