@page "/AddUserData"
@using KlalorieOnline.Models.Dtos
@using ProjektINZ.Pages
@inherits UserDataAddBase

<EditForm Model="userDataDto">
     <h3>Edit User</h3>
    <hr />
    

    <div class="form-group row">
        <label for="Sex" class="col-sm-2 col-form-label">
            User Sex
        </label>
        <div class="col-sm-10">
            <InputSelect @bind-Value="userDataDto.Sex">
                
                <option value="Man">Man</option>
                <option value="Woman">Woman</option>
                
            </InputSelect>
        </div>

         
    </div>

    




                
           
    
    <div class="form-group row">
        <label for="Age" class="col-sm-2 col-form-label">
            User Age
        </label>
        <div class="col-sm-10">
            <InputNumber id="age" class="form-control" placeholder="Age"
                       @bind-Value="userDataDto.Age" />
        </div>

         
    </div>


    <div class="form-group row">
        <label for="Height" class="col-sm-2 col-form-label">
            User Height
        </label>
        <div class="col-sm-10">
            <InputNumber id="height" class="form-control" placeholder="Height"
                       @bind-Value="userDataDto.Height" />
        </div>

         
    </div>


    <div class="form-group row">
        <label for="Weight" class="col-sm-2 col-form-label">
            User Weight
        </label>
        <div class="col-sm-10">
            <InputNumber id="weight" class="form-control" placeholder="Weight"
                       @bind-Value="userDataDto.Weight" />
        </div>

         
    </div>

    <div class="form-group row">
        <label for="Activity" class="col-sm-2 col-form-label">
            User Activity
        </label>
        <div class="col-sm-10">
             <InputSelect @bind-Value="userDataDto.Activity">
                
                <option value="Lackofphysicalactivity">Lack of physical activity</option>
                <option value="Lightactivity">Light activity</option>
                <option value="Averageactivity">Lacko fphysical activity</option>
                <option value="Highactivity">High activity</option>
                <option value="Veryhighphysicalactivity">Very high physical activity</option>
               
                
            </InputSelect>
        </div>

         
    </div>




    </EditForm>
    <div class="row">
 <p class="mb-4">
              <div>
                <button class="btn btn-success"
                @onclick ="() => (AddUserData_Click(new UserDataDto{


                    Sex=userDataDto.Sex,
Age=userDataDto.Age,
Height=userDataDto.Height,
Weight=userDataDto.Weight,
Activity=userDataDto.Activity



                }))"
                ><b>Dodaj dane</b></button>
            </div>
            </p>
 </div>


 <div class="row">
 <p class="mb-4">
              <div>
                <button class="btn btn-success"
                @onclick ="() => (Calculate())"



                
                ><b>Przelicz zapotrzebowanie</b></button>
            </div>
            </p>
 </div>



    

 
@*<div class="row">
 <p class="mb-4">
                <b>
                    @(CalculateCalories.DailyRequirementKcal)  Kcl/100g;

                    @(CalculateCalories.DailyRequirementCarbo)  carb
                </b>
            </p>
 </div>*@


