@page "/AddUserData"
@using KlalorieOnline.Models.Dtos
@using ProjektINZ.Pages

@inherits UserDataAddBase


   <EditForm Model="userDataDto">
   <div class="form-group">
    <label for="userSex">User Sex</label>
    <select class="form-control"  id="userSex" name="userSex" @bind=userDataDto.Sex>
      <option>Man</option>
      <option>Woman</option>
    </select>
  </div>
  <div class="form-group">
    <label for="userAge">User Age</label>
    <input type="number" class="form-control" id="userAge" name="userAge" @bind=userDataDto.Age />
  </div>
  <div class="form-group">
    <label for="userHeight">User Height</label>
    <input type="number" class="form-control" id="userHeight" name="userHeight" @bind=userDataDto.Height />
  </div>
  <div class="form-group">
    <label for="userWeight">User Weight</label>
    <input type="number" class="form-control" id="userWeight" name="userWeight" @bind=userDataDto.Weight />
  </div>
  <div class="form-group">
    <label for="userActivity">User Activity</label>
    <select class="form-control" id="userActivity" name="userActivity" @bind=userDataDto.Activity>
      <option value="Lackofphysicalactivity">Lack of physical activity</option>
                <option value="Lightactivity">Light activity</option>
                <option value="Averageactivity">Average activity</option>
                <option value="Highactivity">High activity</option>
                <option value="Veryhighphysicalactivity">Very high physical activity</option>
    </select>
  </div>
  <div class="form-group">
    <label for="userGoal">User Goal</label>
    <select class="form-control" id="userGoal" name="userGoal" @bind=userDataDto.Goal>
      <option value="GainWeight">Gain weight</option>
      <option value="KeepWeight">Keep weight</option>
      <option value="LoseWeight">Lose weight</option>
    </select>
  </div>
    </EditForm>





    <div class="row">
 <p class="mb-4">
              <div>
                <button class="btn btn-success"
                @onclick ="() => (AddUserData_Click(new UserDataDto{


                    Sex=userDataDto.Sex,
Age=userDataDto.Age,
Height=userDataDto.Height,
Weight=userDataDto.Weight,
Activity=userDataDto.Activity,
Goal=userDataDto.Goal,
CreatedDate=DateTime.Now




                }))"
                ><b>Dodaj dane</b></button>
            </div>
            </p>
 </div>


@* <div class="row">
 <p class="mb-4">
              <div>
                <button class="btn btn-success"
                @onclick ="() => (Calculate())"



                
                ><b>Przelicz zapotrzebowanie</b></button>
            </div>
            </p>
 </div>
*@


    
@*@if (CalculateCalories != null)
{
    <div class="row">
 <p class="mb-4">
                <b>
                    @(CalculateCalories.DailyRequirementKcal)  Kcl/100g;
                    </b>
                    
                  
                
            </p>
 </div>

  <div class="row">
 <p class="mb-4">
                 <b>
                    @(CalculateCalories.DailyRequirementCarbo)  g carb
                    </b>
                
            </p>
 </div>


   <div class="row">
 <p class="mb-4">
                 <b>
                    @(CalculateCalories.DailyRequirementFat)  g fat
                    </b>
                
            </p>
 </div>

}*@



